body{
   background: url(image/IMG-20200626-WA0019.jpg)
   no-repeat center center fixed;
   background-size: cover;
   font-family: sans-serif;
   position: absolute;
   
}
header{
    color:#fff;
    width: 80%;
    margin: auto;
    overflow: hidden;

}
.head{
    float: left;
    color: #fff;
    font-family: cursive;
}
nav{
    float: right;
}
li{
    display: inline;
    padding: 1rem;
}
li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.active{
    color: gold;
}
.container{
    width: 70%;
    margin: auto;
    overflow: hidden;
    margin-top: 1%;
}
showcase h1{
    color:#fff;
    font-family: cursive;
    text-align: center;
    margin-top: 10%;
}
showcase h3{
    color: #fff;
    text-align: center;
    letter-spacing: 2px;
}
.category{
    color: #fff;
    margin-top: 10%;
    display: flex;
    text-align: center;
}
img{
    width: 70%;
    border-radius: 50%;
}
.snacks, .grill{
    padding-left: 1rem;
}
h4{
    font-size: 1.5rem;
    margin: 3%;
}
.btn{
    background-color: gold;
    padding: 1rem;
    border: none;
    border-radius: 8px;
    margin-left: 45%;
}
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body{
  font-family: sans-serif;
  overflow: hidden;
  user-select: none;
}
nav .logo{
  color: white;
  font-size: 33px;
  font-weight: bold;
  line-height: 70px;
  padding-left: 110px;
}
nav{
  height: 70px;
  background: black;
  box-shadow: 0 3px 15px rgba(0,0,0,.4);
}
nav ul{
  float: right;
  margin-right: 30px;
}
nav ul li{
  display: inline-block;
}
nav ul li a{
  color: white;
  display: block;
  padding: 0 15px;
  line-height: 70px;
  font-size: 20px;
  background: #000000;
  transition: .5s;
}
nav ul li a:hover,
nav ul li a.active{
  color: gold;
}
nav ul ul{
  position: absolute;
  top: 85px;
  border-top: 3px solid white;
  opacity: 0;
  visibility: hidden;
}
nav ul li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: .3s linear;
}
nav ul ul li{
  width: 150px;
  display: list-item;
  position: relative;
  border: 1px solid white;
  border-top: none;
}
nav ul ul li a{
  line-height: 50px;
}
nav ul ul ul{
  border-top: none;
}
nav ul ul ul li{
  position: relative;
  top: -70px;
  left: 150px;
}
nav ul ul li a i{
  margin-left: 45px;
}
section{
  background: url(bg.jpeg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}
