body{
   background: url(image/IMG-20200626-WA0019.jpg)
   no-repeat center center fixed;
   background-size: cover;
   font-family: sans-serif;
   position: absolute;
   
}

header{
    color:#fff;
    width: 80%;
    margin: auto;
    overflow: hidden;

}
.head{
    float: left;
    color: #fff;
    font-family: cursive;
}

.container-fluid h1{
    color:#fff;
    font-family: cursive;
    text-align: center;
}
.container-fluid h3{
    color: #fff;
    text-align: center;
    letter-spacing: 2px;
}
.container-1{
    width: 70%;
    margin: auto;
    overflow: hidden;
    margin-top: 5%;
}
.container-1 h1, h3:hover{
    color: gold;

}
.category{
    color: #fff;
    margin-top: 5%;
    display: flex;
    text-align: center;
}
img{
    width: 70%;
    border-radius: 50%;
}
.snacks, .grill{
    padding-left: 1rem;
}
h4{
    font-size: 1.5rem;
    margin: 3%;
}
.btn{
    background-color: gold;
    padding: 1rem;
    border: none;
    border-radius: 8px;
    margin-left: 45%;
    margin-top: 50px;
}

.grill:hover, .snacks:hover, .desi:hover, .party:hover{
    color: gold;
}